* {
	box-sizing: border-box;
}

/**  Presentation page styling*/
/**  */
.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	/*transform-style: preserve-3d;*/
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.pPage {
	position: relative;
}

#btn {
	display: none;
}

.pPage label {
	background: #CBE86B;
	color: #fff;
	font-size: 3em;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0.5em 1.75em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease-out 0s;
	opacity: 0.7;
}

.pPage label:hover {
	cursor: pointer;
	background: #F2E9E1;
	color: #1C140D;
	transition: all 0.3s ease-in 0s;
}



/**  popUp Register styling*/
/**  */
.popUp {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #F2E9E1;
	z-index: -1;
	opacity: 0;
}

#btn:checked ~ .popUp {
	opacity: 1;
	z-index: 100;
	transition: all 1s cubic-bezier(1,.67,.83,.67) 0s;
}

.popUp input[type="email"] {
	max-width: 100%;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	border: none;
	background-color: #F2E9E1;
	font-size: 4em;
	text-align: center;
	outline: none;
	opacity: 0.5;
}