* {
	box-sizing: border-box;
}

/**  Presentation page styling*/
/**  */
.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	/*transform-style: preserve-3d;*/
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.pPage {
	position: relative;
}

#btn {
	display: none;
}

.pPage label {
	background: #CBE86B;
	color: #fff;
	font-size: 3em;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0.5em 1.75em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 3s ease-out 0s;
}

.pPage label:hover {
	cursor: pointer;
	background: #F2E9E1;
	color: #1C140D;
	transition: all 0.6s ease-in 0s;
}



/**  popUp Register styling*/
/**  */
.popUp {
	width: 100px;
	height: 100px;
	background: red;
	opacity: 0;
	text-align: center;
}

#btn:checked ~ .popUp {
	opacity: 1;
}